.logo{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 200;
}

.logo__img{
  fill: #fff;
  width: 120px;
}

@media (min-width: 64em){
  .logo__img{
      width: 150px;
      height: 30px;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

/* * {
  -ms-overflow-style: none;
} */

.carousel {
  position: relative;
  height: 100vh;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
  background: url("../../assets/640xauto/Fuoripista-Cover-M2.jpg") no-repeat center;
  background-size: cover;
  outline: none;
}

.carousel__slide:nth-child(2){
  background: url("../../assets/640xauto/Fuoripista-Bike-M.jpg") no-repeat center;
  background-size: cover;
}

.carousel__slide:nth-child(3){
  background: url("../../assets/640xauto/Fuoripista-Tuo-M2.jpg") no-repeat center;
  background-size: cover;
}

.carousel__slide:nth-child(4){
  background: url("../../assets/640xauto/Fuoripista-Mia-M.jpg") no-repeat center;
  background-size: cover;
}

.carousel__navigation {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.carousel__navigation-button {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  opacity: .2;
  transition: all .6s;
  border-radius: 50%;
  font-size: 0;
}

.carousel__navigation-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel__navigation-button:active{
  background: #c39d42;
  transform: scale(2);
  opacity: 1;
}
