.logo{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 200;
}

.logo__img{
  fill: #fff;
  width: 120px;
}

* {
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

.carousel {
  position: relative;
  height: 100vh;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.carousel__slide {
  height: 100%;
  width: 100%;
  background: url("../../assets/640xauto/Fuoripista-Cover-M2.jpg") no-repeat center;
  background-size: cover;
  outline: none;
  opacity: 0.9;
}

.carousel__slide:nth-child(2){
  background: url("../../assets/640xauto/Fuoripista-Bike-M.jpg") no-repeat center;
  background-size: cover;
}

.carousel__slide:nth-child(3){
  background: url("../../assets/640xauto/Fuoripista-Tuo-M2.jpg") no-repeat center;
  background-size: cover;
}

.carousel__slide:nth-child(4){
  background: url("../../assets/640xauto/Fuoripista-Mia-M.jpg") no-repeat center;
  background-size: cover;
}

.navigation{
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.navigation__button {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  opacity: .2;
  transition: all .6s;
  border-radius: 50%;
  font-size: 0;
}

.navigation__list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.active{
  background: #c39d42;
  transform: scale(2);
  opacity: 1;
}

/* text and link  */
.text__container{
  height: 100%;
  font-family: 'Domaine Sans Display', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.875rem;
  text-align: center;
}

.main__slide{
  flex-direction: column;
}

/* other slide texts */
.text{
  color: white;
  text-decoration: none;
}

.text__header{
  margin: 20vh 0 .2em 0;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  /* transition: transform 1s cubic-bezier(0,.55,.45,1);
  transition-delay: 2000ms;
  transform: translateY(0); */
}

.text__detail{
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 1em 0;
}

.text__detail--highlighted{
  display: inline-block;
    font-family: 'Hijrnotes PERSONAL USE ONLY';
    font-weight: 400;
    color: #c39d42;
    font-size: 170%;
    vertical-align: middle;
    position: relative;
    top: -.2em;
    margin-left: .1em;
    margin-right: .1em;
}

.text__btn--link{
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 50%;
}

.text__btn--main{
  width: 147px;
  height: 147px;
  border-radius: 50%;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  outline: none;
}

.text__icon--main{
  height: 40px;
  width: 40px;
  fill: white;
}

.text__btn{
  background: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
}

.text__icon{
  fill: white;
  height: 18px;
  width: 20px;
  transform: rotate(270deg);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* supporting text */
.text__header--main{
  font-size: 30px;
}

.slide__item{
  margin: 20vh 0 0 0;
}

/* supporting text  */
.line__break{
  display: none;
}


/* responsive  */
@media (min-width: 640px){
  .logo{
    top: 30px;
    left: 30px;
  }

  .navigation{
    transform: rotate(-90deg) translateX(10%) translateY(40%);
  }

  /* supporting text  */
  .line__break{
    display: block;
  }
}

@media (min-width: 770px){
  .carousel__slide {
    background: url("../../assets/1440xauto/Fuoripista-Cover-D_200720_151200.jpg") no-repeat center;
    background-size: cover;
  }

  .carousel__slide:nth-child(2){
    background: url("../../assets/1440xauto/Fuoripista-Bike-D.jpg") no-repeat center;
    background-size: cover;
  }

  .carousel__slide:nth-child(3){
    background: url("../../assets/1440xauto/Fuoripista-Bike-D2.jpg") no-repeat center;
    background-size: cover;
  }

  .carousel__slide:nth-child(4){
    background: url("../../assets/1440xauto/Fuoripista-Mia-D.jpg") no-repeat center;
    background-size: cover;
  }
}

@media (min-width: 1024px){
  .logo{
    top: 40px;
    left: 40px;
  }

  .logo__img{
    width: 150px;
    height: 40px;
  }

  .text__detail{
    font-size: 2.6vw;
  }

  .text__header{
    font-size: 5.2vw;
    margin: 0 0 .2em 0;;
  }

  .text__btn--main{
    width: 200px;
    height: 200px;
  }



  /* suppert */
  .text__btn{
    display: none;
  }

  .additional{
    display: inline-block;
  }
}
